.item {
  display: flex;
  align-items: center;
  gap: 5px;
  p {
    color: #d9bbbb;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  button {
    background-color: #4d3524;
    border: none;
    margin-top: 5px;
    transition: all 0.03s linear;
    &:active {
      transform: scale(0.9);
    }
  }
}
